.searchResult {    
    display: flex;
    overflow-y: auto;
    max-height: 442px;

    ul {
        list-style-type: none;
        padding: 0;
        width: 100%;

        li {
            color: rgb(54, 54, 54);
            padding: 15px 35px;
            min-height: 50px;

            div:first-child {
                font-weight: 600;
                font-size: 19px;
                margin-bottom: 5px;
            }

            div:last-child {
                span {
                    display: inline-flex;
                    justify-content: flex-start;
                    min-width: 250px;
                    font-weight: 400;
                }

                span:nth-child(even) {
                    min-width: 400px;
                }

                .icons {
                    margin: 5px 5px 0 0;
                    font-size: 13px;
                }
            }
        }

        li:nth-child(even) {
            background-color: rgb(215, 214, 214);
        }
    }
}